// Only add mixins, maps to this file, any typography styles
// should be in the styles/_typography.scss partial.
@use "sass:map";
@use "sass:math";
@import "./helpers";
@import "./colors";
@import "./variables";

// Fonts
$font-family-barlow: 'Barlow', sans-serif;
$font-family-barlow-condensed: 'Barlow Condensed', sans-serif;
$font-family-bellefair: 'Bellefair', serif;
$font-size-base: 1.25rem; // 20px
$line-height-base: 1.8; // 36px

$fonts: (
  headings: (
    xl: (
      family: $font-family-bellefair,
      font-size-mobile: 80px,
      font-size-desktop: 150px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.14,
      line-height-desktop: 1.14,
      text-transform: uppercase,
    ),
    lg: (
      family: $font-family-bellefair,
      font-size-mobile: 56px,
      font-size-desktop: 100px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.14,
      line-height-desktop: 1.14,
      text-transform: uppercase,
    ),
    md: (
      family: $font-family-bellefair,
      font-size-mobile: 24px,
      font-size-desktop: 56px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.14,
      line-height-desktop: 1.14,
      text-transform: uppercase,
    ),
    // sm: (
    //   "family": $font-family-bellefair,
    //   "font-size-mobile": 24px,
    //   "font-size-desktop": 24px,
    //   "font-weight": 700,
    //   "letter-spacing": normal,
    //   "line-height-mobile": 1.35,
    //   "line-height-desktop": 1.35,
    //   "text-transform": false,
    // ),
    xs: (
      family: $font-family-barlow-condensed,
      font-size-mobile: 16px,
      font-size-desktop: 28px,
      font-weight: 400,
      letter-spacing: 4.725px,
      line-height-mobile: 1.4,
      line-height-desktop: 1.2,
      text-transform: uppercase,
    ),
  ),
  subheadings: (
    large: (
      family: $font-family-bellefair,
      font-size-mobile: 28px,
      font-size-desktop: 28px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.14,
      line-height-desktop: 1.14,
      text-transform: uppercase,
    ),
    small: (
      family: $font-family-barlow-condensed,
      font-size-mobile: 14px,
      font-size-desktop: 14px,
      font-weight: 400,
      letter-spacing: 2.3625px,
      line-height-mobile: 1.2,
      line-height-desktop: 1.2,
      text-transform: uppercase,
    ),
  ),
  body: (
    md: (
      family: $font-family-barlow,
      font-size-mobile: 15px,
      font-size-desktop: 18px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.75,
      line-height-desktop: 1.7,
      text-transform: false,
    ),
  ),
  position: (
    technology: (
      family: $font-family-barlow-condensed,
      font-size-mobile: 14px,
      font-size-desktop: 16px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.2,
      line-height-desktop: 1.18,
      text-transform: uppercase,
    ),
    crew: (
      family: $font-family-bellefair,
      font-size-mobile: 16px,
      font-size-desktop: 32px,
      font-weight: 400,
      letter-spacing: normal,
      line-height-mobile: 1.12,
      line-height-desktop: 1.15,
      text-transform: uppercase,
    ),
  ),
  navbar: (
    menu: (
      family: $font-family-barlow-condensed,
      font-size-mobile: 16px,
      font-size-desktop: 16px,
      font-weight: 400,
      letter-spacing: 2.7px,
      line-height-mobile: 1.5,
      line-height-desktop: 1.18,
      text-transform: uppercase,
    ),
  ),
);

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@mixin font(
  $category: headings,
  $size: md,
  $color: $color-white
) {
  $sizes: map.get($fonts, $category); // = headings, body, navbar
  $values: map.get($sizes, $size); // = xxl, xl, lg, md, sm, xs
  $min-font-size: map.get($values, font-size-mobile);
  $max-font-size: map.get($values, font-size-desktop);
  $min-line-height: map.get($values, line-height-mobile);
  $max-line-height: map.get($values, line-height-desktop);
  $min-vw: map.get($grid-breakpoints, md);
  $max-vw: map.get($grid-breakpoints, xxl);

  color: $color;
  font-family: map.get($values, family);
  font-weight: map.get($values, font-weight);
  font-size: $min-font-size;
  line-height: $min-line-height;

  @include media-breakpoint-up(md) {
    font-size: calc(
      #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
        ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
    );
  }

  @include media-breakpoint-up(xxl) {
    font-size: $max-font-size;
    line-height: $max-line-height;
  }

  letter-spacing: map.get($values, letter-spacing);

  @if map.get($values, text-transform) {
    text-transform: map.get($values, text-transform);
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include media-breakpoint-down(md) {
    font-size: 0.875rem; // 14px
    line-height: 1.8;
  }
}

/// Default font sizing for body text
p {
  @include font(body, md, map-get($theme-colors, primary));

  &:only-child {
    margin-bottom: 0;
  }
}

span.eyebrow {
  @include font(headings, xs);

  @include media-breakpoint-only(xs) {
    letter-spacing: 2.7px;
  }

  b {
    margin-right: 18px;
    font-weight: 700;
    opacity: 0.25;

    @include media-breakpoint-up(md) {
      margin-right: 28px;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 28px;
    }
  }
}
