// Add custom variables & override bootstrap variables in this file.
//
$baseline: 16px;
$max-width: 112.5rem; // 1800px;

body {
  --bs-body-color: map-get($grays, gray-1100);
}

// Overrides BS spacer-variables-map
$spacer: 1rem !default;
$spacers: () !default;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  // 8px
  2: $spacer,
  // 16px
  3: $spacer * 1.5,
  // 24px
  4: $spacer * 2,
  // 32px
  5: $spacer * 2.5,
  // 40px
  6: $spacer * 3,
  // 48px
  7: $spacer * 3.5,
  // 56px
  8: $spacer * 4,
  // 64px
  9: $spacer * 4.5,
  // 72px
  10: $spacer * 5,
  // 80px
  20: $spacer * 10,
  // 160px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  max: 1600px,
) !default;
