@import "../../styles/init";

.imageWrapper img {
  @include media-breakpoint-down(sm) {
    max-width: 170px;
  }

  @include media-breakpoint-up(sm) {
    max-width: 300px;
  }

  @include media-breakpoint-up(md) {
    max-width: 100%;
  }
}

.box {
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    max-width: 445px;
  }
}
