.react-tabs__tab-list,
ul[role="tablist"] {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.react-tabs__tab {
  margin-right: 35px;
  padding-bottom: 12px;
  user-select: none;

  font-family: $font-family-barlow-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  color: map-get($theme-colors, primary);

  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: $color-white;
    transition-property: right;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 2px;
    bottom: 0;
    left: 0;
    right: 100%;
  }


  &.is-selected {
    color: $color-white;

    &::after {
      right: 0;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.react-tabs__tab-panel,
div[role="tabpanel"] {
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  &.is-selected {
    transform: translateX(0%);
  }
}
