// Global typography styles.
// See also ./vars/_typography.scss.

@font-face {
  font-family: "Barlow";
  src: url("../assets/fonts/Barlow/Barlow-Regular.woff2") format("woff2"),
    url("../assets/fonts/Barlow/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Barlow";
  src: url("../assets/fonts/Barlow/Barlow-Bold.woff2") format("woff2"),
    url("../assets/fonts/Barlow/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.woff2") format("woff2"),
    url("../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("../assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.woff2") format("woff2"),
    url("../assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "Bellefair";
  src: url("../assets/fonts/Bellefair/Bellefair-Regular.woff2") format("woff2"),
    url("../assets/fonts/Bellefair/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-display: fallback;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include media-breakpoint-down(md) {
    font-size: 0.875rem; // 14px
    line-height: 1.8;
  }
}

p:only-child {
  margin-bottom: 0;
}

/// Default font sizing for headings
h1 {
  @include font(headings, xl);
}

h2 {
  @include font(headings, lg);
}

h3 {
  @include font(headings, md);
}

// h4 {
//   @include font(headings, sm);
// }

h5 {
  @include font(headings, xs, map-get($theme-colors, primary));
}

span.sub-header-large {
  @include font(subheadings, large);
}

span.sub-header-small {
  @include font(subheadings, small, map-get($theme-colors, primary));
}
