@import "../../styles/init";

.imageWrapper {

  @include media-breakpoint-only(md) {
    margin-right: -24px;
    margin-left: -36px;
  }

  @include media-breakpoint-only(xs) {
    margin-right: -16px;
    margin-left: -16px;
  }

  img {
    @include media-breakpoint-down(md) {
      max-width: 100vw;
    }

    @include media-breakpoint-up(lg) {
      transform: translateX(40%);
    }
  }
}

.navigationButton {
  font-size: 16px;
  line-height: 18px;
  width: 40px;
  height: 40px;
  font-family: $font-family-bellefair;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba($color: $color-white, $alpha: 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: $color-white;
  text-align: center;
  letter-spacing: 2px;
  transition-property: background-color, color, border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 37px;
    width: 80px;
    height: 80px;
  }

  @include media-breakpoint-only(md) {
    font-size: 24px;
    line-height: 28px;
    width: 60px;
    height: 60px;
  }

  &:hover {
    cursor: pointer;
    border-color: $color-white;
  }

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &.active {
    background-color: $color-white;
    color: $color-black;
  }
}

.position {
  @include font(position, technology, map-get($theme-colors, primary));
}

.box {

  p {
    @include media-breakpoint-up(sm) {
      max-width: 445px;
    }
  }
}
