@import "../../styles/init";

.imageWrapper {
  @include media-breakpoint-down(sm) {
    height: 222px;
    width: 100%;
  }

  img {
    width: auto;
    height: 100%;
  }
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $color-white;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  opacity: 0.17;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  &.active {
    opacity: 1;
  }
}

.position {
  @include font(position, crew);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.box {
  p {
    @include media-breakpoint-up(md) {
      max-width: 450px;
    }

    @include media-breakpoint-only(xs) {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
}
